/* Main Comp-------------------------------------------------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #14213d;
    color: #e5e5e5;
}
main{
    position: relative;
    min-height: 88vh;
}
/* Hamburger------------------------------------------------------------------- */

.hamburger-menu-logo{
    display: flex;
    font-size: 2rem;
    color: #e5e5e5;
    margin-top: -.7rem;
}
.hamburger-menu-logo a{
    display: block;
}
.hamburger-menu-logo a, .hamburger-menu-logo a:visited{
    color: #e5e5e5;
}

/* Account Icon ---------------------------------------------------------------------------- */
.account-icon{
    font-size: 1.8rem;
    margin-top: -.7rem;
}
.account-icon a, .account-icon a:visited{
    color: #e5e5e5;
}

/* Main Logo------------------------------------------------------------------- */
h1{
    font-weight: 600;
    font-size: 2.6rem;
}
span {
    position: relative;
}

.spn-logo:before {
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .1em;
    background: #fca311; 
}

/* Footer--------------------------------------------------------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #14213d;
    width: 100%;
    color:#e5e5e5;
    padding: 2rem;
}

footer p {
    margin:0;
    font-weight: 500;
}


/* Menu */

.mobile-navigation{
    padding:2rem;
    top:0;
    left:0;
    position:fixed;
    width:20rem;
    height: 100vh;
    background-color: rgba(11, 26, 42,0.990);
    z-index: 5;
    color:white;
    transition: ease .1s;
}
.menu-arrow-icon{
    display: block;
    width: 15%;
    font-size: 1.6rem;
    margin-top:-0.9rem;
}
.mobile-navigation h2{
    font-size: 1.7rem;
    margin-top: 2rem;
}
.navigation-list{
    margin-left: -1rem;
    font-size: 1.3rem;
    list-style: none ;
}

.navigation-list a, .navigation-list a:visited{
    color:#e4e4e4;
}
.nav-movie-container, .nav-tv-container{
    display: none;
}
.close-menu{
    left:-20rem;
    transition: ease .1s;
}
.hide-movie-categories, .hide-tv-categories{
    display:none
}
.desktop-navigation h2 {
    display: none;
}

@media (min-width: 1024px) {
    .nav-tv-container, .nav-movie-container{
        display: block;
        font-size: 1.2rem;
        height: 100%;
    }
    .hamburger-menu-logo{
        display: none;
    }
    .desktop-navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    .spn-logo{
        margin-left: 1rem;
    }
    .main-menu-categories{
        display: flex;
        margin-left: 2rem;
        gap:.7rem;
        cursor: pointer;
        height: 100%;
    }
    .navigation-list{
        padding: 1rem ;
        list-style: none ;
        font-size: 0.9rem;
        border-radius:.5rem;
        position: absolute;
        top: 3.8rem;
        background-color: #14213D;
        z-index: 99;
    }
    .navigation-list a{
        width: 100%;
        padding: .7rem;
        padding-right: 2rem;
        padding-left: 0;
        display: block;
        width: 100%;
    }
    .navigation-list li{
        border-bottom:1px solid #fca311;
        margin-bottom: 0;
    }
    .navigation-list li:nth-last-child(1){
        border-bottom:none;
    }
    .navigation-list a:hover{
        background-color: #223251;
    }
    .navigation-list li:nth-last-child(1) a:hover{
        border-radius: 0 0 .5rem 0;
    }
    .navigation-list li:nth-child(1) a:hover{
        border-radius: 0 .5rem 0 0;
    }
  }