.welcome-image{
    height: 75vh;
    background-image:url("../../images/cinema.jpg");
    background-position:center -5rem;
    background-size: cover;
    z-index: -1;
}

.image-color-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    width: 100%;
    background-color: rgba(0, 6, 59, 0.729);
    color: 	#f1f1f1;
    padding: 1.7rem;
}

.image-color-filter h2
{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.image-color-filter p{
    font-size: 1.7rem;
    font-weight: 450;
    line-height: 2rem;
    color: #e9e9e9;
    padding-bottom: 2rem;
}
/* Searchbar--------------------------------------------------------------- */
.input-wrapper{
    position: relative;
}
.searchbar{
    width: 100%;
    font-size: 1.1rem;
    padding: .5rem;
    padding-left:3rem ;
}

.search-icon{
    border: none;
    background-color: #fefefe;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    top:7%;
}


.image-color-filter p{
    margin-bottom: 1.8rem;
}
.welcome-content-body{
    align-self: center;
    max-width: 90rem;
}

.image-color-filter .search-icon{
    display: block;
    border: none;
    height: 2.68rem;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 100%);
    width: 20%;
    position: absolute;
    text-align: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    top:2%;
    right: 0;
    border-radius: 0 1rem 1rem 0;
    color:white;
}
.image-color-filter .searchbar{
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    padding-left:2rem ;
    border-radius: 1rem;
}


@media (min-width:1080px){

    .welcome-image{
        height: 55vh;
    }
    
    .image-color-filter{
        height: 55vh;
    }
    .image-color-filter .searchbar{
        border-radius: 1.5rem;
    }

    .image-color-filter .search-icon{

        width: 10%;

    }
}