.welcome-image{
    height: 53vh;
    background-color: antiquewhite;
    background-image:url("../../public/images/cinema.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.image-color-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 47vh;
    width: 100%;
    background-color: rgba(3, 0, 59, 0.735);
    color: 	#FFF5EE;
    padding: 1.7rem;
}

.image-color-filter h2
{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}
.image-color-filter p{
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2rem;
}
/* Searchbar--------------------------------------------------------------- */
.input-wrapper{
    position: relative;
}
.searchbar{
    width: 100%;
    font-size: 1.5rem;
    padding: .5rem;
    padding-left:3rem ;
}

.search-icon{
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    top:20%;
}