.welcome-image{
    height: 60vh;
    background-color: antiquewhite;
    background-image:url("../../images/cinema.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.image-color-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 4, 42, 0.725);
    color: 	#FFF5EE;
    padding: 1.7rem;
}

.image-color-filter h2
{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.image-color-filter p{
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 2rem;
}
/* Searchbar--------------------------------------------------------------- */
.input-wrapper{
    position: relative;
}
.searchbar{
    width: 100%;
    font-size: 1.1rem;
    padding: .5rem;
    padding-left:3rem ;
}

.search-icon{
    border: none;
    background-color: white;
    position: absolute;
    text-align: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    top:20%;
}
